[Unit]
Description=HHVM HipHop Virtual Machine

[Service]
ExecStart=/usr/local/bin/hhvm --config /etc/hhvm/server.ini --mode daemon

[Install]
WantedBy=multi-user.target
